.bg--dark {
  --primary-text: var(--white);
  background-color: var(--black) !important;
  font-family: "Courier New", Courier, monospace;
}

.bg--orange {
  --primary-text: var(--white);
  background-image: url('/static/images/orange-bg-shape.png'), linear-gradient(#fba86f, #ff5653) !important;
  background-position: right 0%, center;
}
